@import "tailwindcss";
@theme {
  --font-mclaren: "McLaren", "cursive"; 
}
body{
  background-color : #f0f0f0;
  font-family: "McLaren", "cursive" ;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}