@import "tailwindcss";
@theme {
  --font-mclaren: "McLaren", "cursive"; 
}
@custom-variant dark (&:where(.dark, .dark *));
body{
  font-family: "McLaren", "cursive" ;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}